.message {
    position: relative;
    text-align: left;
    box-sizing: border-box;
    max-width: 520px;
    align-self: end;
    margin-bottom: 30px;
    margin-left: auto;
}

.imageAndText {
    display: flex;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    height: 48px;
    width: 48px;
    align-self: end;
}

.text {
    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 4px 4px 0 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 15px;
    padding: 8px 13px 8px 13px;
    position: relative;
}

.text:after {
    background: radial-gradient(38px at top right, transparent 49%, #0066CC 50%) no-repeat right 4%;
    bottom: 0;
    content: "";
    display: block;
    height: 17px;
    position: absolute;
    right: -19px;
    width: 19px;
}

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.messageText {
    white-space: pre-wrap;
}

.time {
    position: absolute;
    right: 10px;
    bottom: -15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}