@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.App {
    --header_height: 60px;
    margin-top: 110px;
}

.App > div{

}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 30px 40px;
}

.hw > div{
    display: flex;
    flex-direction: column;
}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    padding: 0 40px;
    margin-bottom: 10px;
}



