.sendForm {
    display: flex !important;
    flex-direction: row !important;
    gap: 20px;
}

.textarea {
    height: 40px !important;
    width: 100%;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    opacity: 0.9;
    position: relative;
    border: none;
    resize: none;
    padding-top: 11px;
    padding-left: 10px;
}

.textarea::-webkit-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
   position: absolute;
    top:10px;
    left: 10px;
}

.textarea:-moz-placeholder { /* Firefox 18- */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    margin-top: 10px;
}

.textarea::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    margin-top: 10px;
}

.textarea:-ms-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    margin-top: 10px;
}


.button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #0066CC;
    border-radius: 20px;
    padding: 10px 39px;
    border: none;
}

.button:hover {

}

.button:active {

}
